body {
  color: rgb(var(--foreground-rgb));
  background: rgb(3, 0, 20);
  position: relative;

  main {
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(136, 0, 255) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.header {
  padding: 16px 32px;
  backdrop-filter: blur(12px);
  z-index: 11111;

  .logo {
    width: 175px;
    height: 32px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .tab {
    height: 56px;
    display: flex;
    overflow: hidden;
    min-height: 48px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 1px;
    -webkit-box-align: center;
    align-items: center;
    min-width: 300px;
    border-radius: 336px;
    width: fit-content;
  }

  .menu {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 200px;
    justify-content: right;
  }

  .menu-hamburger {
    width: 32px;
    height: 32px;
    color: rgba(101, 59, 163, 1.5);
  }
}

.card {
  margin: 0px auto 24px;
  overflow: inherit;
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  max-height: inherit;
  box-sizing: content-box;
  width: 100%;
  min-width: 416px;
  max-width: 416px;
  max-height: 682px;
  background: rgb(18, 15, 41);
  overflow: auto;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 8px 16px;
  position: relative;
  top: 120px;
  padding: 16px 24px;
  padding-bottom: 32px;

  > .header {
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    );
    box-sizing: border-box;
    flex-shrink: 0;
    z-index: 1100;
    min-height: 40px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 0 0 16px 0;

    > h2 {
      line-height: 1.5;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 24px;
      font-weight: 700;
    }

    .setting-icon {
      width: 40px;
      padding: 9px;
      border-radius: 50%;
      height: 40px;

      &:hover {
        background: rgba(255, 255, 255, 0.08);
      }
    }
  }

  .body {
    gap: 16px;

    .box {
      color: rgb(255, 255, 255);
      border: 1px solid rgb(48, 43, 82);
      background-color: rgb(36, 32, 61);
      border-radius: 12px;
      overflow: hidden;
      box-sizing: border-box;
      transition: background-color 225ms cubic-bezier(0, 0, 0.2, 1) 0ms,
        filter 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
      padding: 16px;
      cursor: pointer;

      &:hover {
        background-color: rgb(40, 36, 64);
      }

      > p {
        margin: 0px;
        font-family: __Inter_aaf875, __Inter_Fallback_aaf875, Arial, "Noto Sans",
          BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
        font-size: 14px;
        line-height: 1;
        font-weight: 700;
        color: rgb(255, 255, 255);
        padding-bottom: 16px;
      }

      .info {
        &__image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          margin-right: 16px;
          background: rgb(48, 43, 82);
          position: relative;

          > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          &__sub {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            overflow: hidden;
            background: rgb(48, 43, 82);
            position: absolute;
            bottom: -2px;
            right: -6px;
            border: 3px solid rgb(36, 32, 61);
          }
        }
        &__text {
          color: rgb(187, 187, 187);
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 256px;
          font-size: 18px;
          font-weight: 500;

          .rate {
            margin: 0px;
            font-family: __Inter_aaf875, __Inter_Fallback_aaf875, Arial,
              "Noto Sans", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
              sans-serif;
            color: rgb(187, 187, 187);
            font-weight: 500;
            font-size: 12px;
            line-height: 1;
            word-break: break-word;
            overflow-wrap: break-word;
          }

          > input {
            font: inherit;
            letter-spacing: inherit;
            color: currentcolor;
            padding: 0;
            border: 0;
            box-sizing: content-box;
            background: none;
            height: 1.4375em;
            margin: 0;
            -webkit-tap-highlight-color: transparent;
            display: block;
            min-width: 0;
            width: 100%;
            animation-name: mui-auto-fill-cancel;
            animation-duration: 10ms;
            outline: none;

            &[type="number"] {
              &::-webkit-outer-spin-button,
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              &[type="number"] {
                -moz-appearance: textfield;
              }
            }
          }
        }
      }
    }
  }

  .button-type2 {
    margin-top: 24px !important;
  }
}

.button-type1 {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875, Arial, "Noto Sans",
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  max-width: 360px;
  min-width: 90px;
  position: relative;
  flex-shrink: 0;
  padding: 9px 16px;
  overflow: hidden;
  white-space: normal;
  text-align: center;
  text-transform: initial;
  letter-spacing: 0px;
  display: flex;
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin: 6px 4px;
  transition: background 250ms ease 0s;
  background: transparent;
  min-height: unset;
  color: rgb(255, 255, 255);
  text-decoration: none;
  height: 48px;
  width: 142px;
  border-radius: 24px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.04);
  }

  &.active {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.button-type2 {
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: __Inter_aaf875, __Inter_Fallback_aaf875, Arial, "Noto Sans",
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
  line-height: 1.75;
  min-width: 64px;
  padding: 8px 20px;
  height: 48px;
  border-radius: 24px;
  font-size: 16px;
  letter-spacing: 0px;
  text-transform: none;
  font-weight: bold;
  transition: background-color 250ms ease 0s;
  overflow: hidden;
  color: rgb(255, 255, 255);
  background-color: rgb(101, 59, 163);

  &:hover {
    background-color: rgb(84, 49, 136);
  }
}

.coin {
  gap: 24px;
  margin: 0px auto 24px;
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  box-sizing: content-box;
  background: rgb(18, 15, 41);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.16) 0px 8px 16px;
  position: relative;
  padding: 16px 24px;
  width: fit-content;

  .currency-unit:hover .info-text {
    opacity: 1;
  }

  .coin__image {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(101, 59, 163);
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
    transition: background-color 225ms cubic-bezier(0, 0, 0.2, 1) 0ms,
      filter 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    padding: 0px;
    background-color: rgb(35, 20, 57);
    display: flex;
    align-items: center;
    cursor: pointer;
    min-width: 62px;
    height: 54px;
    width: 62px;
    padding: 8px;
    justify-content: center;

    :hover {
      opacity: 0.8;
    }

    &.disabled{
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }

    > img {
      width: 100%;
      height: 100%;
      text-align: center;
      color: transparent;
      text-indent: 10000px;
      object-fit: contain;
    }
  }
}
