body {background-color: bisque;}
#wrapper {width: 80%; margin: auto;}

#info, #appendMMR, #instal, #verifyHashBlock {
    width: 100%; 
    min-height: 50px; 
    background-color: whitesmoke; 
    margin: 5px; 
    text-align: center; 
    padding: 10px;
}